/* Resets */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

img {
  height: auto;
  width: 100%;
}
/* Resets end */

header > img {
  display: block;
  margin: 20px auto;
  width: 50%;
}

/* Global/Grid Area */

.wrapper {
  display: grid;
  grid-template-areas:
    "h h h h h h h h h h h h"
    ". . . m m m m a a . . ."
    "f f f f f f f f f f f f";
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-area: h;
}

main {
  grid-area: m;
}

aside {
  grid-area: a;
}

footer {
  grid-area: f;
}
/* Global Area end */

/* Main */
body {
  background: #6b8c50;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 18px;
  color: #656565;
  letter-spacing: 3px;
}

main,
aside {
  background: #fff;
  margin: 0 10px 10px;
  padding: 20px;
}

/* Main end */

/* Navigation */

.horizontal ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.horizontal li {
  width: 100%;
}

.horizontal a {
  background: #415234;
  border: 1px solid #000;
  color: #fff;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.horizontal a:hover {
  background: #fff;
  color: #415234;
}

@media screen and (min-width: 768px) {
  .horizontal ul {
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-areas:
      "h h h h h h h h h h h h"
      ". . . m m m m a a . . ."
      "f f f f f f f f f f f f";
    /* grid-template-columns: repeat(12, 1fr); */
  }

  header {
    grid-area: h;
  }

  header img {
    max-width: 300px;
  }

  main {
    grid-area: m;
  }

  aside {
    background: #fff;
    grid-area: a;
    padding-right: 20px;
  }

  footer {
    grid-area: f;
    margin-top: 50px;
  }

  main,
  aside {
    margin: 0;
  }

  .horizontal a {
    background: #bb697b;
    /* border: 1px solid #fff; */
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    /* border-radius: 10px; */
    box-shadow: inset 5px -5px 20px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    position: relative;
  }

  .horizontal a::after {
    content: "\f138";
    font-family: fontawesome;
    font-size: 24px;
    margin-left: auto;
    position: absolute;
    right: 20px;
    top: 7px;
  }

  .horizontal a:hover::after {
    content: "\f137";
  }

  .horizontal li:nth-child(even) a {
    background: #965064;
  }

  .horizontal li a:hover {
    background: #fff;
    color: #965064;
  }

  .horizontal li:last-child a {
    border-bottom: 1px solid #fff;
  }
}

/* Navigation end */

/* aside */

aside > div {
  background: #fff;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px 0;
  overflow: hidden;
}

aside {
  margin: 0 10px 10px;
  padding: 20px;
}

aside h1 {
  color: #fff;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

aside p {
  margin: 0;
  padding: 10px;
  text-align: center;
}

#div1 h1 {
  background: rgba(88, 87, 255, 0.75);
  color: rgba(241, 255, 241, 0.75);
}

#div1 p {
  background: rgba(158, 158, 255, 0.75);
}

#div2 h1 {
  background: rgba(128, 128, 0, 0.75);
  color: rgba(241, 255, 241, 0.75);
}

#div2 p {
  background: rgba(228, 228, 30, 0.75);
}

#div3 h1 {
  background: rgba(207, 66, 207, 0.75);
  color: rgba(241, 255, 241, 0.75);
}

#div3 p {
  background: rgba(232, 156, 232, 0.75);
}

#div4 h1 {
  background: rgba(103, 160, 103, 0.75);
  color: rgba(241, 255, 241, 0.75);
}

#div4 p {
  background: rgba(172, 204, 172, 0.75);
}

/* aside end */

/* footer */
footer {
  background: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}
/* footer end */
